body{
    background-color:  hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.main{
    text-align: center;
    width: 20%;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding: 1%;
    margin-top: 150px;
}

img{
    width: 100%;
    border-radius: 5%;
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin: auto;
    width: 90%;
}
h1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.attribution { 
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}